*{
    margin: 0px;
    padding: 0px;
}

div#divPrincipal{
    border: 1px solid black;
    margin: 0px auto;
    width: 1024px;
}

div#divIzquierdo{
    width: 30%;
    float: left;
}

div#logo{
    margin: 10px;
    width: 288px;
    height: 60px;
}

div#redes_sociales{
    border: 1px solid red;
    margin: 10px;
    width: 288px;
    height: 50px;
}

div#buscador{
    border: 1px solid orange;
    margin: 10px;
    width: 288px;
    height: 50px;
}

div#product{
    border: 1px solid orange;
    margin: 10px;
    width: 288px;
    height: 218px;
}

div#divDerecho{
    width: 70%;
    float: right;
}

div#menu{
    width: 700px;
    height: 70px;
}

nav {
    width:573px;
    height:50px;
    margin: 10px;
    float: left;
    margin-left: 15px;
}

div#carrito{
    margin: 7px;
    float: right;
}

div#contenedor{
    width: 700px;
    height: 460px;
}

article{
    border: 0.1px solid black;
    width: 200px;
    height: 200px;
    float: left;
    margin: 15px 12.6px;
    text-align: center;
}

p.limpiar{
    clear: both;
}

a{
    text-decoration: none;
    color: black;
}
