.rojo{
    background-color: red;
}

.letrasAmarillas{
    color: yellow;
}

.letrasCyan{
    color: cyan;
}

.letrasRojas{
    color: red;
}

.letrasAzules{
    color: blue;
}

.letrasMorado{
    color: purple;
}

.letrasOliva{
    color: olive;
}

.letrasFucsia{
    color: fuchsia;
}

.letrasVerdes{
    color: green;
}

.verde{
    background-color: green;
}

.azul{
    background-color: blue;
}

